/* ================UNIVERSAL SELECTOR=============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
}
/* =======================NAVBAR SECTION DESIGN========== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A0B2E;
    padding: 20px 130px;
    border-bottom: 1px solid #412567;
}
.nav-menu ul  {
    display: flex;
   gap: 33px;  
}
.nav-menu ul li {
    list-style-type: none;   
}
.nav-menu li a{
    text-decoration: none;
     font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}
.nav-menu li a:hover {
    background-color: coral;
    color: black;
}
.primary-btn {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
    background: linear-gradient(to top right, #F7E93F 0%,  #FB09B4 51%, #9100F8 100%); 
}
.primary-btn:hover {
    background: linear-gradient(to bottom left, rgb(62, 62, 194) 0%, rgb(246, 120, 120) 50%, rgb(136, 246, 136) 100%);
    
}
.hamburg {
    display: none;
}

/* =================BANNER RELATED DESIGN============== */
.banner-section {
    background-image: url("./assets/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 500px;
    padding-bottom: 0px;
}
.hero {
    position: relative;
    bottom: 18%;
    left: 3%;
}
.hero-img {
    position: relative;
    
   
}.hero-img .circle {
    width:318px;
   
    
}     
.micro {
    position: absolute;
    top: 28%;
    right: 40%;
    width: 90px;
}
.hero-content {
    text-align: center;
    padding-top: 20px;
   
    
}
.hero-content h1 {
    font-size: 55px;
    font-weight: 800;
    padding-bottom: 5px;
    color: #FFFFFF;
}
.hero-content p {
    font-size: 10px;
    color: #FFFFFF;
    padding-bottom: 15px;
}
.hero-btn {
    display: flex;
gap: 15px;

}
.second-btn {
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    background-color: #1A0B2E;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    padding: 12px 20px;
}



/* =============MOBILE RESPONSIVE DESIGN============ */
@media screen and (max-width:576px) {
    .nav-menu {
        display:none
    }
    .primary-btn {
        display: none;
    }
    .hamburg {
        display: block;
        padding: 16px 20px 16px 0px;
       
       
        
    }
    .navbar{
        padding:16px 24px 16px 20px;

    }
   
}