/* ================UNIVERSAL SELECTOR=============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
}
.inter-font {
  font-family: "Inter", sans-serif;
}
/* =======================NAVBAR SECTION DESIGN========== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A0B2E;
    padding: 20px 130px;
    border-bottom: 1px solid #412567;
    width: 100vw;
}
.nav-menu ul  {
    display: flex;
   gap: 33px;  
}
.nav-menu ul li {
    list-style-type: none;   
}
.nav-menu li a{
    text-decoration: none;
     font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}
.nav-menu li a:hover {
    background-color: coral;
    color: black;
}
.primary-btn {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
    background: linear-gradient(to top right, #F7E93F 0%,  #FB09B4 51%, #9100F8 100%); 
}
.primary-btn:hover {
    background: linear-gradient(to bottom left, rgb(62, 62, 194) 0%, rgb(246, 120, 120) 50%, rgb(136, 246, 136) 100%);
    
}
.hamburg {
    display: none;
}

/* =================BANNER RELATED DESIGN============== */
.banner-section {
    background-image: url("./assets/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 700px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 150px 500px; */
    padding-bottom: 0px;
}
.hero {
    position: relative;
    bottom: 5%;
    left: 1%;
}
.hero-img {
    position: relative;
    
   
}.hero-img .circle {
    width:318px;  
}     
.micro {
    position: absolute;
    top: 28%;
    right: 40%;
    width: 90px;
    animation: rotate 2.5s ease-in-out 1.4s infinite;
}
.hero-content {
    text-align: center;
    padding-top: 20px;
   
    
}
.hero-content h1 {
    font-size: 55px;
    font-weight: 800;
    padding-bottom: 5px;
    color: #FFFFFF;
}
.hero-content p {
    font-size: 10px;
    color: #ffffff82;
    padding-bottom: 15px;
}
.hero-btn {
    display: flex;
gap: 15px;

}
@keyframes rotate {
    0%{
        transform: scale(0.7);
    }
    100% {
        transform: scaleZ(1.2);
    }
    
    
    
}


.spotify {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    border: none;
    border-radius: 10000px;
    background: linear-gradient(to top right, #F7E93F 0%,  #FB09B4 51%, #9100F8 100%); 
}
.second-btn {
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    background-color: #1A0B2E;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    padding: 12px 20px;
    transition: transform 0.5s ease-in-out;
}
.second-btn:hover {
  transform: scale(1) rotate(50deg) translateX(20px) translateY(20px);
  background-color: #533C72;
}
.badge {
    font-size: 18px;
    font-weight: 600;
    background-color: #00FF88;
    padding: 8px 17px;
    color: #1A0B2E;
    border-radius: 10000px;
    width: 20%;
    text-align: center;
    position: absolute;
    top: 4%;
    right: 13%;
    box-shadow: 1px 1px 5px #00ff88d2;
    
}

/* ============PODCAST RELATED DESIGN========== */
.podcast{
    background-color: #1A0B2E;
    text-align:center;
    margin: 0 auto;
    padding: 0px 200px 40px 200px;
    border-bottom: 0.5px solid #ffffff0d;
    width: 100vw;
}
 
  
.podcast h1 {
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;

}
.podcast p {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: lighter;
}

.podcast-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1A0B2E;
    padding-top: 50px;
    padding-bottom: 100px;

}
.card h1 {
    font-size: 45px;
    color: #00FF88;
    font-weight: bold;
}

.card p {
    font-size: 14px;
     color: #ffffff98;
    font-weight: 500;
}

/* ===============WHY CHOOSE TECWAVE RELATED DESIGN========== */
.techwave {
    background-color: #230E3D;
    padding: 80px 200px;
    padding-left: 247px;
  
    
}
.techwave h1 {
    
    font-size: 46px;
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom: 30px;
    text-align: center;
    margin: 0 auto;

   
}
.card-1, .card-2, .card-3, .card-4, .card-5 {
    background-color: rgba(53, 17, 101, 0.4);
    border: 1px solid #4025672d;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
}
.techwave-content {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: 270px 270px 270px;
    grid-template-rows: 190px 190px 190px;
    grid-template-areas: 
    "card-1 card-2 card-2"
    "card-1 card-3 card-3"
    "card-4 card-4 card-5";
           
}
.card-1 { grid-area:card-1; }
.card-2 { grid-area:card-2; }
.card-3 { grid-area:card-3; }
.card-4 { grid-area:card-4; }
.card-5 { grid-area:card-5; }

@keyframes move {
0%{
transform: rotate(0deg)
}
50%{
transform:rotate(10deg)
}
100%{
transform:rotate(20deg)
}
}

.card-5 { 
        animation: move 1.5s ease-in 0.8s infinite;
}

.techwave-content h1 {
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;

}
.techwave-content p {
    font-size: 14px;
    font-weight: lighter;
    color: #ffffffdc;
  
    
}

/* ==========FEATURED EPISODES RELATED DESIGN============= */

.featured-episodes {
    background-color: #1A0B2E;
    padding: 85px ;
 
}
.featured-episodes h1 {
    font-size: 45px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 30px;
 
    

}
.video-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
  
}
.description-card {
    border: 1px solid #250D44;
    border-radius: 8px;
    height: 420px;
    width: 300px;
    background-color: #250D44;
    transition: transform 0.4s ease-in-out;
   
}
.description-card:hover {
    transform: translateY(-10px);
    box-shadow: 3px 8px 10px rgba(128, 128, 128, 0.609);
}
.description-card h2 {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 8px;
}
.description-card p{
    font-size: 14px;
    font-weight: lighter;
    color: #FFFFFF;
    padding: 8px;
    
}
 .description-card .watch-icon{
    font-size: 14px;
    font-weight: bold;
    color: #00FF88;
}
/* ===========MEET THE HOST SECTION RELATED DESIGN========== */
.host-section {
    background-color: #1A0B2E;
    padding-bottom: 110px;
}
.host-section h1 {
    font-size: 45px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 40px;

}
.host {
    display: flex;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
    margin-left: 200px;
     background-color: rgba(53, 17, 101, 0.4);
     
}
.host-img img {
   padding: 20px;

}
.host-content {
    display: flex;
    flex-direction: column;
}
.host-content h1 {
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 5px;
    padding-top: 0;
    border-radius: 15px;
    text-align: start;


}
.host-content p {
    font-size: 14px;
    font-weight: lighter;
    color: #FFFFFF;
    padding: 10px;

}
.host-icon {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    gap: 10px;
}
.icon {
    height: 40px;
    width: 40px;
    border: 1px solid #533C72;
    text-align: center;
    border-radius: 100%;
    padding:8px 3px 2px 3px;
}
.icon img {
    height: 20px;
    width: 20px;
}
/* =============FOOTER SECTION RELATED DESIGN============== */
.footer {
 background-image: url("./assets/footer-bg.png");
 background-position: center;
 background-size: cover;
width: 100vw;
height: 290px;
background-repeat: no-repeat;
position: relative;


}
.footer-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding-bottom: 30px;
    padding-top: 22px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff77;
}
.footer p {
    font-size: 16px;
    font-weight: lighter;
    color: #ffffffd7;
    text-align: center;
}

.footer-content {
    position: absolute;
    top: 85px;
    left: 450px;

}
.footer-img {
text-align: center;
}
.footer-img img {
    height: 40px;
    width: 250px; 
}
/* =============MOBILE RESPONSIVE DESIGN============ */
@media screen and (max-width:576px) {
    .nav-menu {
        display:none
    }
    .primary-btn {
        display: none;
    }
    .hamburg {
        display: block;
        padding: 16px 20px 16px 0px;
       
       
        
    }
    .navbar{
        padding:16px 24px 16px 20px;

    }

    /* ==============BANNER SECTION RESPONSIVE============ */
.banner-section {
    background-image: url(./assets/banner.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 600px;
}

.hero-content p {
     font-size: 20px;
}
    
     .hero-img  {
        position:absolute;
        top:-3%;
      left: 30%;
       
     }
    .hero-img .circle {
    width:210px; 
   
}  
.micro {
    top: 20%;
    left: 30%;
}
.badge{
  width: 32%;
  top: 4%;
  right: 3%;
}
.hero-content h1{
    padding-top:200px;
}
.hero-btn{
    justify-content: center;
    align-items: center;
}
/* =========ABOUT THE PODCAST RESPONSIVE========== */
.podcast{
   padding: 30px 60px 40px 60px;
    
}

  
.podcast h1 {
    font-size: 42px;
    padding-bottom: 20px;

}
.podcast p {
    font-size: 16px;
  
}
.podcast-card {
    display: grid;
   grid-template-columns: repeat(2,1fr);
   row-gap: 40px;
   column-gap: 20px;
   text-align: center;
  

}
/* =============WHY CHOOSE TECHWAVE RESPONSIVE========== */
.techwave {
    padding: 30px 20px;
}
.techwave h1 {
    
    font-size: 40px;
    padding-bottom: 20px;
}
.techwave-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "card-1"
    "card-2"
    "card-3"
    "card-4"
    "card-5";
    text-align: start;
    gap: 20px;
    
}
.card-1, .card-2, .card-3, .card-4, .card-5 {
    /* height: 350px; */
    border-radius: 10px;
    padding: 35px 25px;
    text-align: start;
   
}
.techwave-content p {
    font-size: 20px;
    text-align: start;
   
}

.techwave-content h1 {
    text-align: start;
    font-size:32px;
   
}

@keyframes move {
0%{
transform: rotate(0deg)
}
50%{
transform:rotate(3deg)
}
100%{
transform:rotate(8deg)
}
}
/* =========FEATURED EPISODES RESPONSIVE========== */
.video-card {
    flex-direction: column;
    
}
.description-card{
  border-radius: 12px;
 
}
.description-card{
    width:85vw;
    height: auto;
}
.featured-episodes h1 {
    font-size: 34px;
    padding: 15px;
}
.description-card h2 {
    font-size: 24px;
}
.description-card p {
    font-size:16px;
    
   
}
 .description-card .watch-icon {
    font-size: 16px;
 
}
 .description-card iframe {
    width: 85vw;
    height: 250px;
 }
 /* ============MEET THE HOST RESPONSIVE========== */
 .host {
    flex-direction: column;
    gap: 8px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 20px 10px;
  
 }
 .host-content h1{
    font-size: 30px;
    text-align: center;
    padding: 0;
    padding-bottom: 5px;
 
 }
  .host-content p{
    font-size: 20px;
    text-align: center;
       padding: 10px;
 
 }
 .host-icon {
    justify-content: center;
    align-items: center;
 }

 /* =============FOOTER SECTION RESPONSIVE============== */
 .footer {
    background-image: url(./assets/Footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
 


 }

 .footer-icon {
    display: none;
 }
 .footer-content{
    display: none;
 }
 .footer-img {
    display: none;
 }
 .footer-img img {
    display: none;
 }
}